<section class="culture">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="culture__info">
                    <span id="subtitle">
                        <div class="culture__info_line"></div>
                        <div class="culture__info_subtitle">INDONESIAN CULTURE</div>
                    </span>
                    <div class="culture__info_title">Our culture here is very friendly to people</div>
                    <div class="culture__info_text">known for his politeness, manners and gentleness. This becomes a
                        characteristic when they mingle with other tribes and become basic traits that are passed down
                        by their ancestors.</div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="culture__img"></div>
            </div>
        </div>
    </div>
</section>