<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer__line"></div>
            </div>
            <div class="col-4">
                <p class="footer__title">Let's go on vacation, Make your day</p>
            </div>
            <div class="col-3">
                <div class="footer__columns">
                    <p class="footer__columns_title">Services</p>
                    <span class="footer__columns_text">
                        <a target="_blank" href="">Email Marketing</a>
                        <a target="_blank" href="">Campaigns</a>
                        <a target="_blank" href="">Branding</a>
                        <a target="_blank" href="">Offline</a>
                    </span>
                </div>
            </div>
            <div class="col-3">
                <div class="footer__columns">
                    <p class="footer__columns_title">About</p>
                    <span class="footer__columns_text">
                        <a target="_blank" href="">Our Story</a>
                        <a target="_blank" href="">Benefits</a>
                        <a target="_blank" href="">Team</a>
                        <a target="_blank" href="">Careers</a>
                    </span>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>
    </div>
</footer>