<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer__line"></div>
            </div>
            <div class="col-md-12 col-lg-4">
                <p class="footer__title">Let's go on vacation, Make your day</p>
                <span class="footer__subtitle">
                    <p class="footer__subtitle_text">Terms & Conditions</p>
                    <p class="footer__subtitle_text">Privacy Policy</p>
                </span>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="footer__columns">
                    <p class="footer__columns_title">Services</p>
                    <span class="footer__columns_text">
                        <a target="_blank" href="#">Email Marketing</a>
                        <a target="_blank" href="#">Campaigns</a>
                        <a target="_blank" href="#">Branding</a>
                        <a target="_blank" href="#">Offline</a>
                    </span>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="footer__columns">
                    <p class="footer__columns_title">About</p>
                    <span class="footer__columns_text">
                        <a target="_blank" href="#">Our Story</a>
                        <a target="_blank" href="#">Benefits</a>
                        <a target="_blank" href="#">Team</a>
                        <a target="_blank" href="#">Careers</a>
                    </span>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-2">
                <div id="size" class="footer__columns">
                    <p class="footer__columns_title">Help</p>
                    <span class="footer__columns_text">
                        <a target="_blank" href="#">FAQs</a>
                        <a target="_blank" href="#">Contact Us</a>
                    </span>
                </div>
            </div>
            <div class="col-12">
                <div class="footer__icons">
                    <div class="footer__line"></div>
                    <a target="_blank" href="https://www.facebook.com/"><img src="img/facebook.png" alt=""></a>
                    <a target="_blank" href="https://twitter.com/?lang=uk"><img src="img/twiter.png" alt=""></a>
                    <a target="_blank" href="https://www.instagram.com/"><img src="img/instagram.png" alt=""></a>
                    <div class="footer__line"></div>
                </div>
            </div>
        </div>
    </div>
    </div>
</footer>