<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <a href=""><img src="img/QWERy.png" alt=""></a>
            </div>
            <div class="col-4">
                <div class="header__menu">
                    <nav>
                        <ul>
                            <li><a href="">Information</a></li>
                            <li><a href="">About us</a></li>
                            <li><a href="">Culture</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="col-sm-8 col-lg-4 d-flex justify-content-end">
                <div class="header__search">
                    <img class="header__search_img" src="img/coolicon.png" alt="">
                    <p class="header__search_text">Search</p>
                </div>
                <a class="menu__icon mobile"><span></span></a>
                <ul class="menu mobile">
                    <li><a href="" class="menu__item">Information</a></li>
                    <li><a href="" class="menu__item">About us</a></li>
                    <li><a href="" class="menu__item">Culture</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>