<section class="hero">
    <div class="hero__img">
        <div class="container">
            <div class="row">
                <div class="col-12">
                <div class="hero__subtitle">
                    <div class="hero__subtitle_line"></div>
                    <p class="hero__subtitle_text">explore the Nature Beauty</p>
                </div>
                <div class="col-12">
                    <h1 class="hero__title">Discover <br>
                        Wonderful Indonesia</h1>
                </div>

                </div>
            </div>
        </div>
    </div>
</section>