<section class="info">
    <div class="container-fluid">
        <div class="row d-flex justify-content-between">
            <div class="col-md-12 col-lg-6">
                <div class="info__img"></div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="info__subtitle">
                    <div class="info__subtitle_line"></div>
                    <p class="info__subtitle_text">EAST NUSA TENGGARA</p>
                </div>
                <h2 class="info__title">Have you enjoyed your holiday?</h2>
                <p class="info__text">You will be amazed if you take part in this sailing Komodo island tour package. So
                    it is also mandatory for you, besides enjoying Komodo tourism on Komodo Island, you also have to
                    taste the marine tourism. The beautiful waters of Komodo will make you meet many travelers from
                    other countries.</p>
                <button class="info__btn">
                    <p class="info__btn_text">read more</p>
                    <img class="info__btn_img" src="img/infostroke.png" alt="">
                </button>
            </div>
        </div>
    </div>
</section>