.footer {
    background-color: #000000;
    padding: 0px 0px 160px 0px;

    &__line {
        background: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.3;
        height: 1px;
    }

    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 49px;
        letter-spacing: -0.3px;
        color: #FFFFFF;
        margin-top: 56px;
    }

    &__email {

        &_line {
            background: #FFFFFF;
            mix-blend-mode: normal;
            opacity: 0.3;
            height: 1px;
        }

        &_text {
            font-size: 15px;
            color: #FFFFFF;
            margin-left: 10px;
            margin-bottom: 30px;
        }

        &_btn {
            background: #FFA343;
            border-radius: 8px 8px 0px 0px;
            height: 70px;
            width: 70px;
        }
    }

    &__columns {
        display: flex;
        justify-content: end;

        &_title {
            font-weight: 700;
            font-size: 20px;
            color: #FFD1A0;
            margin-top: 65px;
        }

        &_text {
            a {
                font-size: 19px;
                color: #FFFFFF;
                text-decoration: none;
                transition: 0.3s all;
                padding-right: 100px;
                margin-top: 15px;
                
            }
            :hover{
                color: #FFD1A0;
                transition: 0.3s all;
            }
        }
    }
}