.footer {
    background-color: #000000;
    padding: 0px 0px 160px 0px;

    &__line {
        background: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.3;
        height: 1px;
    }

    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 49px;
        letter-spacing: -0.3px;
        color: #FFFFFF;
        margin-top: 56px;
    }
}