.hero {

    &__img {
        background-image: linear-gradient(330.24deg, rgba(0, 0, 0, 0) 31.06%, #000000 108.93%), url('../img/Background.png');
        width: 100%;
        height: 1370px;
        margin-top: -120px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    }

    &__subtitle {
        margin-top: 288px;
        display: flex;
        align-items: center;
        margin-left: 196px;

        &_line {
            width: 72px;
            height: 2px;
            background: #FFC178;
            margin-right: 32px;
        }

        &_text {
            font-weight: 700;
            font-size: 18px;
            letter-spacing: 6px;
            text-transform: uppercase;
            color: #FFC178;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 96px;
        line-height: 100px;
        text-transform: capitalize;
        color: #FFFFFF;
        margin-left: 196px;
        margin-top: 32px;
    }

    @media screen and(max-width:1400px) {
        &__title {
            font-size: 76px;
        }
    }

    @media screen and(max-width:1200px) {
        &__title {
            font-size: 66px;
        }

        &__img {
            height: 1000px;
        }
    }

    @media screen and(max-width:991px) {
        &__subtitle {
            margin-left: 100px;
        }

        &__title {
            font-size: 56px;
            margin-left: 100px;
        }
    }

    @media screen and(max-width:767px) {
        &__img {
            height: 800px;
        }

        &__subtitle {
            margin-left: 0px;

            &_text {
                font-size: 16px;
            }
        }

        &__title {
            font-size: 46px;
            margin-left: 0px;
            line-height: 70px;
        }
    }

    @media screen and(max-width:575px) {

        &__subtitle {

            &_text {
                font-size: 14px;
            }
        }

        &__title {
            font-size: 38px;
            margin-left: 0px;
            line-height: 50px;
            text-align: center;
        }
    }
}