.info {
    background-color: #000000;
    padding: 0px 0px 40px 0px;
    margin-top: -2px;



    &__img {
        background-image: url('../img/infoimg.png');
        width: 600px;
        height: 720px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 200px;
        margin-left: 230px;
    }

    &__subtitle {
        display: flex;
        align-items: center;
        margin-top: 88px;
        margin-left: 100px;

        &_line {
            width: 72px;
            height: 2px;
            background: #FBD784;
            margin-right: 24px;
        }

        &_text {
            font-weight: 700;
            font-size: 18px;
            letter-spacing: 6px;
            text-transform: uppercase;
            color: #FBD784;
        }
    }

    &__title {
        font-weight: 700;
        font-size: 64px;
        color: #FFFFFF;
        margin-top: 28px;
        line-height: 87px;
        margin-left: 100px;
        padding-right: 300px;
    }

    &__text {
        font-weight: 600;
        font-size: 18px;
        color: #FFFFFF;

        margin-top: 28px;
        line-height: 32px;
        margin-right: 230px;
        margin-left: 100px;
    }

    &__btn {
        border: #000000;
        background-color: #000000;
        display: flex;
        align-items: center;
        padding: 0;
        margin-top: 30px;
        margin-left: 100px;

        &_text {
            font-weight: 700;
            font-size: 18px;
            color: #FBD784;
            margin-right: 9px;
        }

        &_img {
            margin-top: 4px;
        }
    }

    @media screen and(max-width:1634px) {
        &__title {
            padding-right: 250px;
        }
    }

    @media screen and(max-width:1634px) {
        &__title {
            padding-right: 200px;
        }

        &__text {
            margin-right: 130px;
        }

        &__img {
            width: 500px;
            height: 620px;
        }

        &__subtitle {
            margin-top: 44px;
        }
    }

    @media screen and(max-width:1500px) {
        &__text {
            margin-right: 60px;
        }

        &__title {
            padding-right: 100px;
        }
    }

    @media screen and(max-width:1349px) {
        &__img {
            width: 420px;
            margin-left: 150px;
        }

        &__subtitle {
            margin-top: 0px;
        }

        &__title {
            font-size: 50px;
            padding-right: 150px;
        }
    }

    @media screen and(max-width:1200px) {
        &__title {
            font-size: 45px;
            padding-right: 150px;
            line-height: 60px;
        }
    }

    @media screen and(max-width:1101px) {
        &__title {
            padding-right: 80px;
        }

        &__img {
            width: 420px;
            margin-left: 120px;
        }

        &__subtitle {
            &_text {
                font-size: 14px;
            }
        }
    }

    @media screen and(max-width:991px) {

        &__img {
            width: 600px;
            height: 720px;
            margin: 0px auto;
        }

        &__subtitle {
            margin-top: 30px;
        }
    }

    @media screen and(max-width:660px) {
        &__img {
            width: 500px;
            height: 620px;
        }

        &__title {
            padding-right: 40px;
            margin-left: 40px;
        }

        &__subtitle {
            margin-left: 40px;
        }

        &__text {
            margin-left: 40px;
        }

        &__btn {
            margin-left: 40px;
        }
    }

    @media screen and(max-width:576px) {
        &__img {
            width: 300px;
            height: 420px;
        }

        &__title {
            padding-right: 40px;
            margin-left: 40px;
            font-size: 36px;

        }

        &__subtitle {
            margin-left: 40px;

            &_text {
                font-size: 12px;
            }
        }
    }

    @media screen and(max-width:576px) {
        &__title {
            font-size: 28px;
            line-height: 50px;
        }

        &_text {
            font-size: 12px;
        }
    }

}